body {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 1.4em;
  padding: 15px;
  width: 720px; }

#header h1 {
  font-weight: normal;
  font-family: 'Shanti', sans-serif;}
h1 { 
  font-size: 20px;
  line-height: 1.4em;}

h2 { 
  font-family: 'Arial'; 
  font-size: 18px; }

#articles h2 {font-weight:normal;}
#articles li {margin-bottom: .5em; }

h3, p { font-size: 14px; }

ul, li {
  list-style-type: none; }
ul { padding-left: 0; }

a {
  text-decoration: none;
  border-bottom: 1px dotted #bbb;
  color: #E34292; }

a:hover {
  color: #B2246B; }

.date {
  margin-left: 16px;
  float: right;
  color: #c3c3c3;
  font-size: 14px;}

.twitter-share-button { 
  display: block;
  margin-top: 1em; }

#header { 
  color: #ccc; 
  margin-bottom: 2em; }
  #header h1 { 
    display: inline; 
    margin-right: 42px; }
  #header h1 a { border: none; }
  #header a { color: #333; }
  #header span { 
    float: right; 
    font-size: 12px; }
#footer {
  color: #ccc;
  margin-top: 2em;
  text-align: right;
  font-size: 12px; }
